.section {
    width: 100%;
    max-width: 1215px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  
  .content {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    text-align: left;
  }
  
  .text-container {
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .text-inner p {
    margin: 10px 0;
    letter-spacing: 0.1em;
  }
  
  .image-container {
    width: 759px;
    text-align: center;
    margin-top: 20px;
  }
  
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .content {
      padding: 0 10px;
    }
  
    .text-container {
      padding: 10px;
    }
  }
  